<?xml version="1.0"?>
<config>
    <modules>
        <Increazy_Extender>
            <version>1.0.0</version>
        </Increazy_Extender>
    </modules>
    <global>
        <models>
            <extender>
                <class>Increazy_Extender_Model</class>
            </extender>
        </models>
        <helpers>
            <extender>
                <class>Increazy_Extender_Helper</class>
            </extender>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <increazy_extender_product_save>
                        <type>singleton</type>
                        <class>extender/observer</class>
                        <method>handleProductEvent</method>
                    </increazy_extender_product_save>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <increazy_extender_product_delete>
                        <type>singleton</type>
                        <class>extender/observer</class>
                        <method>handleProductEvent</method>
                    </increazy_extender_product_delete>
                </observers>
            </catalog_product_delete_after>
            <catalog_category_save_after>
                <observers>
                    <increazy_extender_category_save>
                        <type>singleton</type>
                        <class>extender/observer</class>
                        <method>handleCategoryEvent</method>
                    </increazy_extender_category_save>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <increazy_extender_category_delete>
                        <type>singleton</type>
                        <class>extender/observer</class>
                        <method>handleCategoryEvent</method>
                    </increazy_extender_category_delete>
                </observers>
            </catalog_category_delete_after>
            <catalog_product_import_finish_before>
                <observers>
                    <increazy_extender_product_import>
                        <type>singleton</type>
                        <class>extender/observer</class>
                        <method>handleProductImport</method>
                    </increazy_extender_product_import>
                </observers>
            </catalog_product_import_finish_before>
        </events>
    </global>
</config>